# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [438]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [439]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [440]:
salaries.head(7)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10

In [441]:
salaries.shape

(33183, 8)

In [442]:
salaries.duplicated().sum()

np.int64(0)

In [443]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

In [444]:
salaries3 = salaries.dropna(subset=["Hourly Rate"])

In [445]:
salaries3.isnull().sum()

Name                    0
Job Titles              0
Department              0
Full or Part-Time       0
Salary or Hourly        0
Typical Hours           0
Annual Salary        8022
Hourly Rate             0
dtype: int64

In [446]:
salaries3

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

Define hypothesis:

- Null:
    - There is enough evidence to suggest that the hourly wage is significantly different from $30/hr.

- Alternative:
    - There is not enough evidence to suggest that the hourly wage is significantly different from $30/hr.

In [447]:
pop_mean = salaries[salaries['Salary or Hourly']=='Hourly']["Hourly Rate"].mean()
pop_mean

np.float64(32.78855771628024)

In [448]:
c3_sample = salaries3["Hourly Rate"].sample(300)
c3_sample

27128    17.42
3067     37.56
12786    19.86
13646    49.10
28803    46.35
         ...
7019     53.10
27456    13.00
28488    40.20
4570     36.21
20010    36.21
Name: Hourly Rate, Length: 300, dtype: float64

In [449]:
mean_samp = c3_sample.mean()
mean_samp

np.float64(33.389133333333334)

In [450]:
from scipy.stats import ttest_1samp
ttest_1samp(c3_sample, 30, alternative ="two-sided")

TtestResult(statistic=np.float64(5.379599311608319), pvalue=np.float64(1.50883503400715e-07), df=np.int64(299))

In [451]:
result=ttest_1samp(c3_sample, 30, alternative ="two-sided")
result.pvalue

np.float64(1.50883503400715e-07)

In [452]:
if result.pvalue < 0.05: 
   print("Reject the null hypothesis: There is not enough evidence to suggest that the hourly wage is significantly different from $30/hr.") 
else:
   print("Do not reject the null hypothesis: There is enough evidence to suggest that the hourly wage is significantly different from $30/hr.")

Reject the null hypothesis: There is not enough evidence to suggest that the hourly wage is significantly different from $30/hr.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

Define hypothesis:

- Null:
    - There is enough evidence to suggest that the hourly wage is significantly different from $30/hr.

- Alternative:
    - There is not enough evidence to suggest that the hourly wage is significantly different from $30/hr.

In [453]:
mean_samp

np.float64(33.389133333333334)

In [454]:
std_error = scipy.stats.sem(c3_sample)
std_error

np.float64(0.6299973542676538)

In [455]:
t.interval(0.95, len(c3_sample)-1, loc=mean_samp, scale=std_error)

(np.float64(32.14934284843714), np.float64(34.628923818229524))

**Conclusion**

We are 95% confident that the true mean hourly wage for all hourly workers in the City of Chicago falls between 32.14 and 34.62.

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

Define hypothesis:

- Null:
    - There is enough evidence to to conclude that the hourly proportion of workers is significantly different from 25%.

- Alternative:
    - There is not enough evidence to conclude that the hourly proportion of workers is significantly different from 25%.

In [456]:
count2 = salaries[salaries["Salary or Hourly"]=="Hourly"]
count2

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [457]:
count = len(count2)
count

8022

In [458]:
nobs = salaries["Salary or Hourly"].count()
nobs

np.int64(33183)

In [459]:
from statsmodels.stats.proportion import proportions_ztest
proportions_ztest(count, nobs, value=0.25, alternative='two-sided')

(np.float64(-3.5099964213703005), np.float64(0.0004481127249057967))

In [460]:
z_statistic = -3.5099964213703005

pvalue = 0.0004481127249057967

In [461]:
if pvalue < 0.05: 
   print("Reject the null hypothesis: There is enough evidence to to conclude that the hourly proportion of workers is significantly different from 25%.") 
else:
   print("Do not reject the null hypothesis: There is not enough evidence to conclude that the hourly proportion of workers is significantly different from 25%.")

Reject the null hypothesis: There is enough evidence to to conclude that the hourly proportion of workers is significantly different from 25%.